@white: #fff;
@black: #000;
@FontAwesome: FontAwesome;
@Raleway: Raleway;

*:focus {
  outline: none;
}

button:focus {outline:0;}

body {
  font-family: @Raleway;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none !important;
  color: #747a7a;
  &:hover {
    color: #3c3d42;
  }
}

header {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;

    &-flex {
      display: flex;
    }

    .logo {

    }

    .menu {
      ul {list-style-type: none; display: flex; margin: 0; padding-left: 10px;}
      li {padding: 0 10px;}
      .link {
        font-family: @Raleway;
        font-size: 14px;

      }
    }

    .info {
      display: flex;
      font-size: 18px;

      .tel {
        font-family: @Raleway;
        padding-right: 20px;
        &:before {
          margin-right: 5px;
          content:"\f098";
          font-family: @FontAwesome;
        }
      }

      .email {
        font-family: @Raleway;
        &:before {
          margin-right: 10px;
          content:"\f003";
          font-family: @FontAwesome;
        }
      }

    }

  }
}

main {

  .slider-slide {
    position: relative;
    width: 100%;
    height: 730px;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &:after {
      content: url("../img/hand.png");
      width: 946px;
      height: 610px;
      bottom: 0;
      right: 20%;
      position: absolute;
      pointer-events: none;
    }
    &-block {
      position: relative;
      top: 25%;
    }
    .title {
      width: 470px;
      font-size: 36px;
      font-weight: 700;
      color: @white;
    }
    .sub-text {
      width: 470px;
      font-weight: 300;
      color: @white;
      margin-bottom: 30px;
    }
    .description {
      width: 470px;
      font-size: 14px;
      color: #9dc7d1;
      margin-bottom: 30px;
    }
  }

  .features {
    padding: 100px 0;
    &-box {
      display: flex;
    }
    &-descriptions {
      text-align: center;
      .title {
        font-size: 36px;
        color: #636c6c;
        font-weight: 700;
        padding-bottom: 30px;
      }
      .description {
        font-size: 16px;
        color: #afb8b8;
        padding-bottom: 60px;
        max-width: 100%;
        width: 760px;
        margin: auto;
      }
    }
    .select {
      max-width: 100%;
      width: 320px;
      overflow-y: scroll;
      max-height: 100%;
      height: 600px;
      &::-webkit-scrollbar {
        width: 20px;
      }
      &::-webkit-scrollbar-track {
        background-color: #dbe2e2;
        border-left: 9px solid white;
        border-right: 9px solid white;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #5dca88;
        border-left: 5px solid white;
        border-right: 5px solid white;
      }
      &-box {
        padding: 30px 30px;
        display: flex;
        cursor: pointer;
        &:hover {
          .fa {
            color: #5dca88;
            transition: 0.4s;
            -moz-transition: 0.4s;
            -webkit-transition: 0.4s;
          }
        }
        p {
          font-size: 18px;
          color: #9fa9a9;
          margin: auto;
        }
        i {
          margin-right: 10px;
          font-size: 42px;
          color: #9fa9a9;
          width: 42px;
        }
      }
    }
    .screen {
      padding: 100px 0;
      width: 650px;
      max-width: 100%;
      margin: 0 auto;
      height: 600px;
      &-item {
        padding-bottom: 70px;
        text-align: center;
        i {
          color: #5dca88;
          font-size: 180px;
        }
      }
      &-slide {
        display: none;
      }
      .title {
        font-size: 24px;
        color: #636c6c;
        font-weight: 700;
      }
      .description {
        font-size: 16px;
        color: #afb8b8;
      }
      h1 {
        font-size: 24px;
        font-weight: 700;
        color: #636c6c;
      }
      p {
        font-size: 16px;
        color: #afb8b8;
      }
    }
  }

  .product-feature {
    position: relative;
    padding: 140px;
    &:after {
      content: url("../img/phone.png");
      position: absolute;
      top: 5%;
      right: 20%;
      pointer-events: none;

    }
    .title {
      width: 480px;
      font-size: 36px;
      font-weight: 700;
      color: #5dca88;
      padding-bottom: 50px;
      &:after {
        content: "";
        position: absolute;
        top: 35%;
        left: 20.9%;
        width: 100px;
        height: 2px;
        background-color: #949c9c;
      }
    }
    .sub-text {
      width: 430px;
      font-weight: 300;
      font-size: 36px;
      color: #8c9494;
      margin-bottom: 30px;
    }
    .description {
      width: 435px;
      font-size: 16px;
      color: #8c9494;
      margin-bottom: 30px;
    }
    .main-button {
      border: 3px solid #636c6c;
      color: #636c6c;
      &:hover {
        color: @white;
        background: #636c6c;
      }
    }
  }

  .gallery {
    padding: 150px 0;
    text-align: center;
    .title {
      font-size: 36px;
      color: #636c6c;
      font-weight: 700;
    }
    .sub-text {
      font-size: 16px;
      color: #afb8b8;
      max-width: 770px;
      margin: auto;
      padding-top: 20px;
      padding-bottom: 80px;
    }
    .gallery-box {
      display: flex;
      justify-content: space-between;
    }
    .gallery-block {
      width: 250px;
      .description {
        font-size: 14px;
        color: #8c9494;
        margin-top: 40px;
      }
      img {
        width: 250px;
      }
    }
  }

  .gesture {
    position: relative;
    padding: 150px;
    &:after {
      content: url("../img/phone-dual.png");
      position: absolute;
      top: 5%;
      left: 20%;
      pointer-events: none;
    }
    .gesture-block {
      max-width: 480px;
      margin-right: 0;
      margin-left: auto;
    }
    .title {
      width: 480px;
      font-size: 36px;
      font-weight: 700;
      color: #5dca88;
      padding-bottom: 50px;
      &:after {
        content: "";
        position: absolute;
        top: 35%;
        right: 40.7%;
        width: 100px;
        height: 2px;
        background-color: #949c9c;
      }
    }
    .sub-text {
      width: 430px;
      font-weight: 300;
      font-size: 36px;
      color: #8c9494;
      margin-bottom: 30px;
    }
    .description {
      width: 435px;
      font-size: 16px;
      color: #8c9494;
      margin-bottom: 30px;
    }
    .main-button {
      border: 3px solid #636c6c;
      color: #636c6c;
      &:hover {
        color: @white;
        background: #636c6c;
      }
    }
  }

  .testimonials {
    text-align: center;
    position: relative;
    padding: 200px 0;
    .title {
      font-size: 36px;
      font-weight: 700;
      color: #636c6c;
      margin-bottom: 35px;
    }
    .comment {
      font-size: 24px;
      font-family: Playfair Display, sans-serif;
      color: #8c9494;
    }
    .name {
      color: #5dca88;
      font-size: 24px;
      margin-bottom: 30px;
    }
    .slide-content {
      margin: auto;
    }
    .slick-dots {
      width: 310px;
      padding: 0;
      margin: 0 auto;
      display: flex;
      list-style-type: none;
      justify-content: center;
      .dot {
        cursor: pointer;
        margin: 0 5px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #8c9494;
      }
    }
    .slick-active {
      .dot {
        background-color: #5dca88;
      }
    }
    img {
      margin: auto;
      margin-bottom: 30px;
    }
  }

  .newsletter {
    text-align: center;
    position: relative;
    padding-bottom: 90px;
    .title {
      color: #8c9494;
      font-size: 36px;
      font-weight: 700;
      padding-bottom: 30px;
      &:before {
        content:"\f003";
        font-family: @FontAwesome;
        margin-right: 5px;
      }
    }
    .submit {
      position: relative;
      display: flex;
      max-width: 770px;
      margin: auto;
      input {
        width: 100%;
        max-width: 770px;
        border: 2px solid #bbc3c2;
        padding: 15px 30px;
        border-radius: 30px;
      }
      button {
        position: absolute;
        right: 0;
        text-transform: uppercase;
        font-size: 18px;
        border: 1px solid #5dca88;
        background-color: #5dca88;
        color: @white;
        font-weight: 700;
        padding: 14.5px 30px;
        border-radius: 30px;
      }
    }
  }

}

footer {
  text-align: center;
  padding: 60px 0;
  background-color: #2d312f;
  .title {
    color: #8c9494;
    font-size: 24px;
    padding-bottom: 25px;
  }
  .footer-nav {
    a {
      margin: 0 10px;
      font-size: 14px;
      &:hover {
        color: @white;
      }
    }
  }
  .socials {
    padding-bottom: 40px;
    .fa {
      padding-top: 11px;
      margin: 0 5px;
      text-align: center;
      border: 1px solid #5d6461;
      background-color: #5d6461;
      border-radius: 50%;
      color: #2d312f;
      height: 40px;
      width: 40px;
    }
  }
}

.main-button {
  cursor: pointer;
  height: 60px;
  padding: 0 50px;
  text-transform: uppercase;
  font-size: 21px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.0);
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  p {
    margin: 0 auto;
  }
  &:hover {
    border: 3px solid rgba(255, 255, 255, 0.0);
    color: #636c6c;
    background-color: #e9efef;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
  }
}