*:focus {
  outline: none;
}
button:focus {
  outline: 0;
}
body {
  font-family: Raleway;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none !important;
  color: #747a7a;
}
a:hover {
  color: #3c3d42;
}
header .header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
header .header-flex {
  display: flex;
}
header .header .menu ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding-left: 10px;
}
header .header .menu li {
  padding: 0 10px;
}
header .header .menu .link {
  font-family: Raleway;
  font-size: 14px;
}
header .header .info {
  display: flex;
  font-size: 18px;
}
header .header .info .tel {
  font-family: Raleway;
  padding-right: 20px;
}
header .header .info .tel:before {
  margin-right: 5px;
  content: "\f098";
  font-family: FontAwesome;
}
header .header .info .email {
  font-family: Raleway;
}
header .header .info .email:before {
  margin-right: 10px;
  content: "\f003";
  font-family: FontAwesome;
}
main .slider-slide {
  position: relative;
  width: 100%;
  height: 730px;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .slider-slide:after {
  content: url("../img/hand.png");
  width: 946px;
  height: 610px;
  bottom: 0;
  right: 20%;
  position: absolute;
  pointer-events: none;
}
main .slider-slide-block {
  position: relative;
  top: 25%;
}
main .slider-slide .title {
  width: 470px;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
main .slider-slide .sub-text {
  width: 470px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 30px;
}
main .slider-slide .description {
  width: 470px;
  font-size: 14px;
  color: #9dc7d1;
  margin-bottom: 30px;
}
main .features {
  padding: 100px 0;
}
main .features-box {
  display: flex;
}
main .features-descriptions {
  text-align: center;
}
main .features-descriptions .title {
  font-size: 36px;
  color: #636c6c;
  font-weight: 700;
  padding-bottom: 30px;
}
main .features-descriptions .description {
  font-size: 16px;
  color: #afb8b8;
  padding-bottom: 60px;
  max-width: 100%;
  width: 760px;
  margin: auto;
}
main .features .select {
  max-width: 100%;
  width: 320px;
  overflow-y: scroll;
  max-height: 100%;
  height: 600px;
}
main .features .select::-webkit-scrollbar {
  width: 20px;
}
main .features .select::-webkit-scrollbar-track {
  background-color: #dbe2e2;
  border-left: 9px solid white;
  border-right: 9px solid white;
}
main .features .select::-webkit-scrollbar-thumb {
  background-color: #5dca88;
  border-left: 5px solid white;
  border-right: 5px solid white;
}
main .features .select-box {
  padding: 30px 30px;
  display: flex;
  cursor: pointer;
}
main .features .select-box:hover .fa {
  color: #5dca88;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
}
main .features .select-box p {
  font-size: 18px;
  color: #9fa9a9;
  margin: auto;
}
main .features .select-box i {
  margin-right: 10px;
  font-size: 42px;
  color: #9fa9a9;
  width: 42px;
}
main .features .screen {
  padding: 100px 0;
  width: 650px;
  max-width: 100%;
  margin: 0 auto;
  height: 600px;
}
main .features .screen-item {
  padding-bottom: 70px;
  text-align: center;
}
main .features .screen-item i {
  color: #5dca88;
  font-size: 180px;
}
main .features .screen-slide {
  display: none;
}
main .features .screen .title {
  font-size: 24px;
  color: #636c6c;
  font-weight: 700;
}
main .features .screen .description {
  font-size: 16px;
  color: #afb8b8;
}
main .features .screen h1 {
  font-size: 24px;
  font-weight: 700;
  color: #636c6c;
}
main .features .screen p {
  font-size: 16px;
  color: #afb8b8;
}
main .product-feature {
  position: relative;
  padding: 140px;
}
main .product-feature:after {
  content: url("../img/phone.png");
  position: absolute;
  top: 5%;
  right: 20%;
  pointer-events: none;
}
main .product-feature .title {
  width: 480px;
  font-size: 36px;
  font-weight: 700;
  color: #5dca88;
  padding-bottom: 50px;
}
main .product-feature .title:after {
  content: "";
  position: absolute;
  top: 35%;
  left: 20.9%;
  width: 100px;
  height: 2px;
  background-color: #949c9c;
}
main .product-feature .sub-text {
  width: 430px;
  font-weight: 300;
  font-size: 36px;
  color: #8c9494;
  margin-bottom: 30px;
}
main .product-feature .description {
  width: 435px;
  font-size: 16px;
  color: #8c9494;
  margin-bottom: 30px;
}
main .product-feature .main-button {
  border: 3px solid #636c6c;
  color: #636c6c;
}
main .product-feature .main-button:hover {
  color: #fff;
  background: #636c6c;
}
main .gallery {
  padding: 150px 0;
  text-align: center;
}
main .gallery .title {
  font-size: 36px;
  color: #636c6c;
  font-weight: 700;
}
main .gallery .sub-text {
  font-size: 16px;
  color: #afb8b8;
  max-width: 770px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 80px;
}
main .gallery .gallery-box {
  display: flex;
  justify-content: space-between;
}
main .gallery .gallery-block {
  width: 250px;
}
main .gallery .gallery-block .description {
  font-size: 14px;
  color: #8c9494;
  margin-top: 40px;
}
main .gallery .gallery-block img {
  width: 250px;
}
main .gesture {
  position: relative;
  padding: 150px;
}
main .gesture:after {
  content: url("../img/phone-dual.png");
  position: absolute;
  top: 5%;
  left: 20%;
  pointer-events: none;
}
main .gesture .gesture-block {
  max-width: 480px;
  margin-right: 0;
  margin-left: auto;
}
main .gesture .title {
  width: 480px;
  font-size: 36px;
  font-weight: 700;
  color: #5dca88;
  padding-bottom: 50px;
}
main .gesture .title:after {
  content: "";
  position: absolute;
  top: 35%;
  right: 40.7%;
  width: 100px;
  height: 2px;
  background-color: #949c9c;
}
main .gesture .sub-text {
  width: 430px;
  font-weight: 300;
  font-size: 36px;
  color: #8c9494;
  margin-bottom: 30px;
}
main .gesture .description {
  width: 435px;
  font-size: 16px;
  color: #8c9494;
  margin-bottom: 30px;
}
main .gesture .main-button {
  border: 3px solid #636c6c;
  color: #636c6c;
}
main .gesture .main-button:hover {
  color: #fff;
  background: #636c6c;
}
main .testimonials {
  text-align: center;
  position: relative;
  padding: 200px 0;
}
main .testimonials .title {
  font-size: 36px;
  font-weight: 700;
  color: #636c6c;
  margin-bottom: 35px;
}
main .testimonials .comment {
  font-size: 24px;
  font-family: Playfair Display, sans-serif;
  color: #8c9494;
}
main .testimonials .name {
  color: #5dca88;
  font-size: 24px;
  margin-bottom: 30px;
}
main .testimonials .slide-content {
  margin: auto;
}
main .testimonials .slick-dots {
  width: 310px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  list-style-type: none;
  justify-content: center;
}
main .testimonials .slick-dots .dot {
  cursor: pointer;
  margin: 0 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #8c9494;
}
main .testimonials .slick-active .dot {
  background-color: #5dca88;
}
main .testimonials img {
  margin: auto;
  margin-bottom: 30px;
}
main .newsletter {
  text-align: center;
  position: relative;
  padding-bottom: 90px;
}
main .newsletter .title {
  color: #8c9494;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 30px;
}
main .newsletter .title:before {
  content: "\f003";
  font-family: FontAwesome;
  margin-right: 5px;
}
main .newsletter .submit {
  position: relative;
  display: flex;
  max-width: 770px;
  margin: auto;
}
main .newsletter .submit input {
  width: 100%;
  max-width: 770px;
  border: 2px solid #bbc3c2;
  padding: 15px 30px;
  border-radius: 30px;
}
main .newsletter .submit button {
  position: absolute;
  right: 0;
  text-transform: uppercase;
  font-size: 18px;
  border: 1px solid #5dca88;
  background-color: #5dca88;
  color: #fff;
  font-weight: 700;
  padding: 14.5px 30px;
  border-radius: 30px;
}
footer {
  text-align: center;
  padding: 60px 0;
  background-color: #2d312f;
}
footer .title {
  color: #8c9494;
  font-size: 24px;
  padding-bottom: 25px;
}
footer .footer-nav a {
  margin: 0 10px;
  font-size: 14px;
}
footer .footer-nav a:hover {
  color: #fff;
}
footer .socials {
  padding-bottom: 40px;
}
footer .socials .fa {
  padding-top: 11px;
  margin: 0 5px;
  text-align: center;
  border: 1px solid #5d6461;
  background-color: #5d6461;
  border-radius: 50%;
  color: #2d312f;
  height: 40px;
  width: 40px;
}
.main-button {
  cursor: pointer;
  height: 60px;
  padding: 0 50px;
  text-transform: uppercase;
  font-size: 21px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
}
.main-button p {
  margin: 0 auto;
}
.main-button:hover {
  border: 3px solid rgba(255, 255, 255, 0);
  color: #636c6c;
  background-color: #e9efef;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
}
/*# sourceMappingURL=style.css.map */